body {
  margin: 4vw;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1em;
  }
  
.left-links a,
.right-links a {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.125em;
  letter-spacing: .04em;
  text-decoration: none;
  color:#212428;
}

h1 {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.2em;
  color:#212428;
}

h2 {
  font-family: "Spectral", serif;
  font-size: 2.25em;
  line-height: 1.2em;
  letter-spacing: .01em;
  color:#212428;
}

h3 {
  font-family: "Spectral", serif;
  font-size: 1.75em;
  line-height: 1.4em;
  letter-spacing: .01em;
  color:#212428;
}

h4 {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.4em;
  color:#212428;
}

p {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 1.6em;
  color:#36494e;
}

button {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  border: 1px solid #014f86;
  background-color: transparent;
  color:#014f86;
  padding: 1em 2em;
}